.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 600px;
  
      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
  
        input[type='text'],
        input[type='email'],
        textarea {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
  
          &:focus {
            outline: none;
            border-color: blue;
          }
        }
  
        textarea {
          height: 150px;
        }
      }
  
      button[type='submit'] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 64, 0);
        color: white;
        font-size: 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: rgb(131, 33, 0);
        }
      }
    }
  
    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px;
  
      form {
        width: 90%;
      }
    }
  }